# This is Git's per-user configuration file.
[user]
	name = akoen
	email = arw.koen@gmail.com
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[github]
	user = akoen
[core]
	excludesfile = /home/alex/.gitignore
