# This is Git's per-user configuration file.
[user]
	name = Alex Koen
	email = akoen@mailbox.org
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[github]
	user = akoen
[core]
	excludesfile = /home/alex/.gitignore
	autocrlf = input
[pull]
	rebase = false
[commit]
	verbose = true
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose
    
    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status -s
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[url "https://github.com/"]
        insteadOf = gh:
[url "git@github.com:"]
        pushInsteadOf = "gh:"

[url "https://gitlab.com/"]
        insteadOf = gl:
[url "git@gitlab.com:"]
        pushInsteadOf = "gl:"

[url "https://aur.archlinux.org/"]
        insteadOf = aur:
[url "aur@aur.archlinux.org:"]
        pushInsteadOf = "aur:"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
