# This is Git's per-user configuration file.
[user]
	name = akoen
	email = arw.koen@gmail.com
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[github]
	user = akoen
[core]
	excludesfile = /home/alex/.gitignore
	autocrlf = input
[pull]
	rebase = false
[commit]
	verbose = true

[url "https://github.com/"]
        insteadOf = gh:
[url "git@github.com:"]
        pushInsteadOf = "gh:"

[url "https://gitlab.com/"]
        insteadOf = gl:
[url "git@gitlab.com:"]
        pushInsteadOf = "gl:"

[url "https://aur.archlinux.org/"]
        insteadOf = aur:
[url "aur@aur.archlinux.org:"]
        pushInsteadOf = "aur:"


# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /home/alex/.config/netlify/helper/git-config
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
