! HiDPI
! TODO Verify that this works
#ifdef SRVR_falcon
    Xft.dpi: 196
#else
    Xft.dpi: 120
#endif

Xft.autohint: false
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

!! Colours

#define FOREGROUND #c0c5ce
#define BACKGROUND #1d1d1d
#define CURSORCOLOR #c0c5ce

! black
#define COLOR0 #2b303b
#define COLOR8 #65737e

! red
#define COLOR1 #bf616a
#define COLOR9 #bf616a

! green
#define COLOR2 #a3be8c
#define COLOR10 #a3be8c

! yellow
#define COLOR3 #ebcb8b
#define COLOR11 #ebcb8b

! blue
#define COLOR4 #8fa1b3
#define COLOR12 #8fa1b3

! magenta
#define COLOR5 #b48ead
#define COLOR13 #b48ead

! cyan
#define COLOR6 #96b5b4
#define COLOR14 #96b5b4

! white
#define COLOR7 #c0c5ce
#define COLOR15 #eff1f5

*.foreground: FOREGROUND
*.background: BACKGROUND
*.cursorColor: CURSORCOLOR
*.color0: COLOR0
*.color8: COLOR8
*.color1: COLOR1
*.color9: COLOR9
*.color2: COLOR2
*.color10: COLOR10
*.color3: COLOR3
*.color11: COLOR11
*.color4: COLOR4
*.color12: COLOR12
*.color5: COLOR5
*.color13: COLOR13
*.color6: COLOR6
*.color14: COLOR14
*.color7: COLOR7
*.color15: COLOR15

! Applications

rofi.color-enabled: true
rofi.color-window: BACKGROUND, BACKGROUND, BACKGROUND
rofi.color-normal: BACKGROUND, FOREGROUND, BACKGROUND, BACKGROUND, COLOR1
rofi.color-active: BACKGROUND, FOREGROUND, BACKGROUND, BACKGROUND, COLOR1
rofi.color-urgent: BACKGROUND, FOREGROUND, BACKGROUND, BACKGROUND, COLOR1
 
URxvt*scrollBar: false
URxvt*transparent: false
URxvt*font: xft:Fira Code:style=regular:size=12
URxvt*letterSpace: 0
URxvt*lineSpace: 2
URxvt*cursorUnderline: true
URxvt*internalBorder: 24
urxvt*fading:   0

! Plugins
URxvt.perl-ext-common: default,matcher,tabbed

! tabs
URxvt.tabbed.new-button: false

! clickable url
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
